body{
  background-color: rgb(62, 213, 239,0.9);
}

h1{
  font-family: 'Ubuntu', sans-serif;
  color:#9b42f4;
  text-align: center;
  font-style: oblique;
}
img{
  border-radius: 50%;
}
.M{
  width: 20vw;
  height: 10vw;
}
.M1
{
  width: 20vw;
  height: 10vw;
}
.M2
{
  width: 20vw;
  height: 10vw;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.M2:hover
{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
